*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: black;
  color: white;
}

::selection {
  background: #c4fc30; /* Цвет фона */;
  color: black; /* Цвет текста */;
}